.main-haesoo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #fafafa;

  .navigation {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 14px 40px;
    background-color: #ffff;
    border: 1px solid #dbdbdb;
    text-align: center;
    z-index: 1;

    p {
      color: #231f20;
      font-family: 'Lobster', cursive;
      font-size: 24px;
      text-decoration: none;
      cursor: pointer;
    }

    &__search {
      position: relative;
      display: flex;
      align-items: center;
      width: 230px;
      padding: 8px;
      background-color: #fafafa;
      border: 1px solid #dbdbdb;
      border-radius: 4px;

      input {
        all: unset;
        text-align: left;
        margin-left: 10px;
        font-weight: 300;
        font-size: 12px;

        &:focus {
          outline: none;
        }
      }
    }

    &__icons {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;

      img {
        width: 20px;
        margin: 0px 10px;
      }

      .profile-img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }
  }
}
