.form {
  width: 310px;
  height: 380px;
  top: -50px;
  left: -505px;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  border: 1px solid #dbdbdb;
}

.form {
  input {
    width: 100%;
    border: 1px solid #efefef;
    border-radius: 5px;
    color: #262626;
    font-size: 14px;
    padding: 7px 8px 7px;
  }
  p {
    margin-bottom: 6px;
  }
}

.input_login {
  &:placeholder {
    border: 1px #8a8a8a;
  }
}

// .submit_btn {
//   width: 268px;
//   height: 30px;
//   margin: 13px auto;
//   background-color: #0095f6;
//   border: none;
//   border-radius: 3px;
//   color: white;
//   font-size: 14px;
//   font-weight: bold;
//   text-align: center; 리엑트 과제2로 인한 비 활성화
// }
.submit_btn_active {
  // @include btn_default;
  background: #0095f6;
  color: #fff;
  width: 268px;
  height: 30px;
  margin: 13px auto;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}
.submit_btn_unactive {
  // @include btn_default;
  background-color: #b2dffc;
  color: #fff;
  width: 268px;
  height: 30px;
  margin: 13px auto;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.submit_btn {
  &disabled {
    background-color: #b9dffc;
  }
  &hover {
    cursor: default;
  }
  &focus {
    outline: none;
  }
  &enabled {
    &hover {
      cursor: default;
    }
  }
}

.insta_logo_title {
  font-family: 'Lobster';
  display: inline-block;
  align-self: center;
  width: 245px;
  height: 51px;
  margin: 45px 0;
  font-size: 55px;
}

.password_find {
  color: #00366b;
  font-size: 12px;
  margin-top: 25px;
  margin-left: 81px;
}

a:visited {
  color: #00366b;
}

a:link {
  text-decoration-line: none;
}

/* .insta_join {
  font-size: 15px;
  text-align: center;
  width: 310px;
  height: 60px;
  margin: 0px auto;
  position: absolute;
  top: 460px;
  left: 453px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
}
.insta_member {
  justify-content: center;
  margin: 10px 0 10px 0;
  padding-top: 12px;
} */
// .insta_join_title {
//   font-size: 15px;
//   text-align: center;
//   margin-top: 30px;
// }
.insta_join {
  font-size: 15px;
  text-align: center;
  width: 310px;
  height: 60px;
  margin: 0px auto;
  position: absolute;
  top: 460px;
  left: 453px;
  background-color: #fff;
}
