.more_icon {
  display: inline-block;
  background: url('../../../assets/images/background01_si.png') no-repeat -301px -218px;
  width: 15px;
  height: 3px;
}

.heart_btn {
  display: inline-block;
  background: url('../../../assets/images/background01_si.png') no-repeat -52px -261px;
  width: 25px;
  height: 22px;
}

.bubble_icon {
  display: inline-block;
  background: url('../../../assets/images/background01_si.png') no-repeat -239px -202px;
  width: 29px;
  height: 24px;
}

.share_icon {
  display: inline-block;
  background: url('../../../assets/images/background01_si.png') no-repeat -324px -52px;
  width: 29px;
  height: 24px;
}

.bookmark_outline {
  display: inline-block;
  background: url('../../../assets/images/background01_si.png') no-repeat -237px -286px;
  width: 19px;
  height: 24px;
}

.bookmark_outline.on {
  background: url('../../../assets/images/background01_si.png') no-repeat -159px -286px;
  width: 19px;
  height: 24px;
}

#right_icons {
  width: 132px;
  display: flex;
  justify-content: space-between;
}

.main_right {
  width: 293px;
  position: absolute;
  right: 230px;
  top: 120px;

  .ProfileSmallImg {
    width: 48px;
    height: 40px;
    border-radius: 80%;
    overflow: hidden;
    margin-right: 7px;

    .img {
      width: 90%;
      height: 90%;
    }
  }

  #detail {
    .id {
      margin-bottom: 5px;
    }

    .KoName {
      font-size: 12px;
      color: #999;
    }

    .scroll_inner {
      height: 182px;
      overflow: hidden auto;
    }
  }

  > article {
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 3px;
    margin-bottom: 20px;
    width: 291px;
    font-size: 14px;
    color: #262626;
    font-weight: bold;
    background: white;

    > header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px;
      color: #999;

      .more {
        font-size: 12px;
        color: #262626;
        cursor: pointer;
      }
    }
  }

  .UserProfile {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #262626;
  }

  .scroll_userlist {
    display: flex;
    align-items: center;
    padding: 10px 20px;

    .ProfileSmallImg {
      width: 49px;
      height: 38px;
    }

    .time {
      font-size: 10px;
      letter-spacing: 0.2px;
      color: #999;
    }

    .RightListFollow {
      position: absolute;
      color: #0095f6;
      right: 33px;
      margin-top: -7px;
    }
  }

  .main_container {
    position: absolute;
    padding-top: 120px;
    display: flex;
    justify-content: center;

    .inner {
      width: 930px;
      height: 500px;
      position: relative;
    }
  }

  .contents {
    position: absolute;
    left: 160px;
    width: 509px;
    height: 526px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 3px;

    .sprite_more_icon {
      display: block;

      .toggle_box {
        text-align: center;
        position: absolute;
        height: 0;
        top: 20px;
        border: 1px solid rgba(0, 0, 0, 0.09);
        border-radius: 3px;
        display: none;

        > li {
          input {
            border: none;
            font-size: inherit;
          }
        }
      }
    }

    .bottom_icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }

    .likes {
      padding: 5px 20px;
      color: #262626;
    }

    .comment_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 20px;

      .comment_detail {
        display: flex;
      }

      .comment {
        display: flex;
        font-size: 14px;
        flex-direction: column;

        .nick_name {
          margin-right: 10px;
        }
      }
    }

    .contents_top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      .profile_img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        margin-top: 4px;
        .img {
          width: 100%;
        }
      }
      .user_container {
        display: flex;
      }
    }
    // .timer {
    //   font-size: 10px;
    //   letter-spacing: 0.2px;
    //   color: #999;
    //   padding: 10px 20px;
    //   bottom: 20px;
    // }
    .comment_field {
      min-height: 56px;
      padding: 0 20px;
      position: relative;
      color: #999;
      border: 1px solid rgba(0, 0, 0, 0.09);
      .input {
        width: 100%;
        height: 56px;
        border: none;
        outline: none;
        background: transparent;
      }
    }
  }
}

.likes_count {
  font-size: 12px;
}
.Follow {
  color: #0095f6;
  position: absolute;
  right: 30px;
}
