.insta_icon {
  display: inline-block;
  background: url('../../../assets/images/background01_si.png') no-repeat -53px -235px;
  width: 24px;
  height: 26px;
}

.write_logo {
  display: inline-block;
  background: url('../../../assets/images/background01_si.png') no-repeat -94px -72px;
  width: 123px;
  height: 29px;
}

.CompassIcon {
  display: inline-block;
  background: url('../../../assets/images/explore_si.png') no-repeat;
  width: 70px;
  height: 51px;
}

.HeartIconOutline {
  display: inline-block;
  background: url('../../../assets/images/heart_si.png') no-repeat;
  width: 70px;
  height: 51px;
}

.UserIconProfile {
  display: inline-block;
  background: url('../../../assets/images/profile_si.png') no-repeat;

  width: 70px;
  height: 51px;
}

.SmallSearchIcon {
  display: inline-block;
  background: url('../../../assets/images/background01_si.png') no-repeat -337px -246px;
  width: 10px;
  height: 10px;
}

#Nav {
  width: 100%;
  position: absolute;
  z-index: 999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  .on {
    height: 52px;
  }
  .Inner {
    width: 975px;
    height: 77px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s;
  }
  .Logo {
    .insta_icon {
      position: relative;
      margin-right: 30px;
      &:after {
        content: '';
        width: 2px;
        height: 28px;
        background: #000;
        position: absolute;
        right: -15px;
        top: -4px;
        transition: all 0.5s;
      }
    }
  }
  #ScarchBox {
    position: relative;
  }
  #SearchField {
    width: 185px;
    height: 28px;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 3px 30px;
    color: #999;
    font-weight: 400;
    text-align: left;
    font-size: 14px;
    outline: none;
    &:focus {
      &::placeholder {
        font-size: 14px;
      }
    }
    &::placeholder {
      font-size: 0;
    }
  }
  .SearchFieldSmall {
    position: absolute;
    left: 43%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}
