.insta_icon {
  display: inline-block;
  background: url('../../../assets/images/background01_si.png') no-repeat -53px -235px;
  width: 24px;
  height: 26px;
}

.write_logo {
  display: inline-block;
  background: url('../../../assets/images/background01_si.png') no-repeat -94px -72px;
  width: 123px;
  height: 29px;
}

.compass_icon {
  display: inline-block;
  background: url('../../../assets/images/explore_si.png') no-repeat;
  width: 70px;
  height: 51px;
}

.heart_icon_outline {
  display: inline-block;
  background: url('../../../assets/images/heart_si.png') no-repeat;
  width: 70px;
  height: 51px;
}

.user_icon_profile {
  display: inline-block;
  background: url('../../../assets/images/profile_si.png') no-repeat;

  width: 70px;
  height: 51px;
}

.small_search_icon {
  display: inline-block;
  background: url('../../../assets/images/background01_si.png') no-repeat -337px -246px;
  width: 10px;
  height: 10px;
}

#header {
  width: 100%;
  position: absolute;
  z-index: 999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  .on {
    height: 52px;
  }
  .inner {
    width: 975px;
    height: 77px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s;
  }
  .logo {
    .insta_icon {
      position: relative;
      margin-right: 30px;
      &:after {
        content: '';
        width: 2px;
        height: 28px;
        background: #000;
        position: absolute;
        right: -15px;
        top: -4px;
        transition: all 0.5s;
      }
    }
  }
  #scarch_box {
    position: relative;
  }
  #search-field {
    width: 185px;
    height: 28px;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 3px 30px;
    color: #999;
    font-weight: 400;
    text-align: left; /* 글자 입력시 왼쪽부터 출력 */
    font-size: 14px;
    outline: none; /* 포커스시 나타나는 파란선 */
    &:focus {
      &::placeholder {
        font-size: 14px;
      }
    }
    &::placeholder {
      font-size: 0;
    }
  }
  .search_field_small {
    position: absolute; /* 검색창 위에 글자 보이는 용도 */
    left: 43%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* 검색 누를때 포인터 인식 방지 */
  }
}
