.feed-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 20px;
  border-top: 1px solid #dbdbdb;

  &__left {
    position: relative;
    width: 100%;

    i {
      font-size: 18px;
    }

    input {
      all: unset;
      width: 80%;
      margin-left: 10px;
      font-size: 14px;
    }

    button {
      position: absolute;
      right: 5px;
      color: #0095f6;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
    }
  }
}
